.idea_modules/
.idea/
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.cache
.phpunit.result.cache
/app/phpunit.xml
/build/
/composer
/composer.phar
/drupal
/drupal.phar
/drush
/drush.phar
/phpunit.xml
/vendor
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/composer.json
/web/composer.lock
/web/core
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/modules/README.txt
/web/modules/contrib
/web/profiles/README.txt
/web/README.txt
/web/robots.txt
/web/sites/*/*services*.yml
/web/sites/*/*settings*.php
!/web/sites/*/settings.php
/web/sites/*/cache
/web/sites/*/files
/web/sites/*/files-private
/web/sites/*/files-public
/web/sites/*/private
/web/sites/*/public
/web/sites/*/tmp
/web/sites/*/translations
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/README.txt
/web/themes/README.txt
/web/themes/contrib
/web/update.php
/web/vendor
/web/web.config
atlassian-ide-plugin.xml
out/
phpcs.xml
/web/assets/css
/web/assets/js
/web/assets/php
/.editorconfig
/.gitattributes