{% set block_title = guest_block_title %}
<h1 class="paragraph--guest_type">
  {% if guest_block_title_plural is not empty %}
    {% set block_title = guest_block_title_plural %}
  {% endif %}
  {{ block_title }}
</h1>

{% if guest_block_description is not empty %}
  <h2>{{ guest_block_description|striptags }}</h2>
{% endif %}

{{ drupal_view('guest_list', 'guests', paragraph.field_block.entity.id) }}
