{% set block_title = paragraph.field_block.entity.name.value %}
<h1 class="paragraph--guest_type">
  {% if paragraph.field_block.entity.field_plural.value %}
    {% set block_title = paragraph.field_block.entity.field_plural.value %}
  {% endif %}
  {{ block_title }}
</h1>
{% if paragrah.field_block.entity.description.0 %}
<h4 class="paragraph--guest_type">{{ paragraph.field_block.entity.description.0.value|striptags }}</h4>
{% endif %}

{{ drupal_view('guest_list', 'guests', paragraph.field_block.entity.id) }}
