{% set block_title = guest_block_title %}
<h1 class="paragraph--guest-type">
  {% if guest_block_title_plural is not empty %}
    {% set block_title = guest_block_title_plural %}
  {% endif %}
  {{ block_title }}
</h1>

{% if guest_block_description is not empty %}
  <h2 class="paragraph--guest-type">{{ guest_block_description|striptags }}</h2>
{% endif %}

{# Iterate over guests #}
<div class="paragraph--guest-list">
{% for guest in paragraph.field_guests %}
    {{ drupal_entity('node', guest.entity.id, 'teaser') }}
{% endfor %}
</div>