@use 'mixins' as *;

article {
  &.node {
    &--type-guest {
      & h2 {
        @include noto-serif-font($weight: 900);
        font-size: 2rem;
        text-align: center;
        color: var(--color-black);
        margin-bottom: .5rem;
      }

      & h3 {
        @include noto-serif-font($weight: 700);
        font-size: 1.5rem;
        text-align: center;
        color: var(--color-maroon);
      }

      & img {
        @include drop-shadow-slight;
        margin: 1rem;
        border-radius: 1rem;
        float: left;
      }
    }

    & p::first-letter {
      font-size: 1.2rem;
      color: var(--color-maroon);
    }
  }
}
