@use 'mixins' as *;

article .node.node--type-guest.node--view-mode-teaser h3 {
  color: var(--color-red);
  font-weight: 900;
  text-align: left;
}

article {
  &.node {
    &.node--type-guest.node--view-mode-teaser {
      img {
        border-radius: 50%;
        width: auto;
        max-height: 10rem;
        height: 6rem;

        @container page-wrapper (min-width: 1200px) {
          height: auto;
        }
      }

      & h3 {
        color: var(--color-red);
        text-align: left;
        font-weight: 900;
        margin-bottom: 0;

        & a {
          color: var(--color-maroon);
        }
      }
    }

    &--type-guest {
      & h2 {
        @include noto-serif-font($weight: 900);
        font-size: 2rem;
        text-align: center;
        color: var(--color-black);
        margin-bottom: .5rem;

        & a {
          color: inherit;
        }
      }

      & h3 {
        @include noto-serif-font($weight: 700);
        font-size: 1.5rem;
        text-align: center;
        color: var(--color-red);
      }

      & img {
        @include drop-shadow-slight;
        margin: clamp(.75rem, .75vw, 1rem);
        border-radius: 1rem;
        float: left;
        aspect-ratio: 1;

        // @container page-wrapper (min-width: 1200px) {
        //   margin: 1rem;
        // }
      }
    }

    & p::first-letter {
      font-size: 1.2rem;
    }

    & .node__content {
      & p {
        line-height: 1.5rem;
      }
    }

    & .under-construction {
      & p::first-letter {
        font-size: 4rem;
      }
    }
  }
}
