@use 'mixins' as *;

article .node.node--type-guest.node--view-mode-teaser {
  & h3 {
    color: var(--color-bright-red);
    font-weight: 900;
    text-align: left;
  }

  & a {
    color: var(--color-bright-red);
    font-weight: 800;
    ;
  }
}

article {
  &.node {
    &.node--type-guest.node--view-mode-teaser {
      img {
        border-radius: 50%;
        width: auto;
        max-height: 10rem;
        height: 6rem;

        @container page-wrapper (min-width: 1200px) {
          height: auto;
        }
      }

      & h3 {
        color: var(--color-red);
        text-align: left;
        font-weight: 900;
        margin-bottom: 0;

        & a {
          color: var(--color-maroon);
        }
      }
    }

    &--type-guest {
      & h2 {
        @include noto-serif-font($weight: 900);
        font-size: 2rem;
        text-align: center;
        color: var(--color-black);
        margin-bottom: .5rem;

        & a {
          color: inherit;
        }
      }

      & h3 {
        @include noto-serif-font($weight: 700);
        font-size: 1.5rem;
        text-align: center;
        color: var(--color-red);
      }

      & img {
        @include drop-shadow-slight();
        margin: 0 .5rem 0 0;
        margin: 0 clamp(0.00rem, calc(-0.429rem + 1.190vw), 1.00rem) 0 0;
        border-radius: 1rem;
        float: left;
        // aspect-ratio: 1;

        // @container page-wrapper (min-width: 1200px) {
        //   margin: 1rem;
        // }
      }
    }

    & .node__content {
      & img {
        margin: 0 1rem 0 0;
        @include drop-shadow-slight();
      }
    }

    & .under-construction {
      & p::first-letter {
        font-size: 4rem;
      }
    }
  }

  &.media--type-hero-image {
    & div.field--type-image {
      display: grid;

      & figure {
        justify-self: center;

        & img {
          @include drop-shadow-slight();
        }

        & figcaption {
          & p {
            text-align: center;
            margin: .5rem 0 0 0;
            font-size: .75rem;
            font-size: clamp(0.50rem, calc(0.286rem + 0.595vw), 1.00rem);

            &::first-letter {
              font-size: 1rem;
              font-size: clamp(0.75rem, calc(0.536rem + 0.595vw), 1.25rem);
            }
          }
        }
      }
    }
  }
}