#block-montreal2027 {
  &-mainnavigation {
    background-color: var(--color-blue);
  }

  &-searchform {
    & #search-block-form {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1rem;
      margin: 0 0 0 auto;
      width: 35dvw;

      & input[type="search"] {
        font-size: 1rem;
        padding: .5rem;
        border: 0;
        width: 100%;
        background: var(--color-dark-blue);

        &::placeholder {
          font-size: 1rem;
          color: var(--color-white);
        }
      }

      & input[type="submit"] {
        font-size: 1rem;
        padding: .5rem 1rem;
        border: none;
        background-color: var(--color-white);
        color: var(--color-black);
        cursor: pointer;
        border-right: 0;
        border-radius: 0;
        margin-top: 1rem;
        height: 2.4rem;
        text-transform: capitalize;

        &:hover {
          background-color: var(--color-red);
        }
      }
    }
  }

  &-mapleleaf {
    & img {
      height: 6rem;
      width: auto;
      margin: .5rem 0 0 0;
    }
  }

  &-site-branding {
    align-content: center;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .site-logo {
      display: block;
      width: auto;
      height: auto;
      margin: 0 0 0 1rem;

      & img {
        height: 6rem;
      }
    }
  }

  &-masthead {
    text-align: center;

    & p {
      color: var(--color-black);
      font-size: 1.5rem;
      font-family: var(--title-font);
      font-weight: 700;
      line-height: 1.7rem;
      margin: 0;

      & .slogan-word {
        text-transform: uppercase;
        display: inline-block;

        &::first-letter {
          font-size: 1.9rem;
        }
      }
    }
  }

  &-socialmedialinks {
    display: flex;
    align-items: center;
    align-content: center;

    & ul {
      & li {
        & a {
          color: var(--color-white);
        }
      }
    }
  }

  &-location-3 {
    display: grid;
    align-items: center;

    & img {
      max-height: 8rem;
      width: auto;
      margin: 0.6rem;
    }
    & h3 {
      color: var(--color-red);
      margin: .2rem 0 0 0;
    }

    & p {
      color: var(--color-white);
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }

  &-copyright-3 {
    & p {
      color: white;
      font-size: 0.7rem;
      line-height: 1rem;
      text-align: center;
      margin: 0;
    }
  }

  &-breadcrumbs {
    & nav {
      &.breadcrumb {
        padding: 0 0 0 2rem;
        margin: 0;
      }
    }
  }
}
