@use 'mixins' as *;

#block-montreal2027 {
  &-mainnavigation {
    @container page-wrapper (min-width: var(--bs-breakpoint-lg)) {
      background-color: var(--color-blue);
    }
  }

  &-searchform {
    display: flex;
    align-content: center;
    & #search-block-form {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1rem;
      margin:auto;
      width: 35dvw;

      & input[type="search"] {
        font-size: 1rem;
        padding: .5rem;
        border: 0;
        width: 100%;
        background: var(--color-dark-blue);

        &::placeholder {
          font-size: 1rem;
          color: var(--color-white);
        }
      }

      & input[type="submit"] {
        font-size: 1rem;
        padding: .5rem 1rem;
        border: none;
        background-color: var(--color-white);
        color: var(--color-black);
        cursor: pointer;
        border-right: 0;
        border-radius: 0;
        margin-top: 1rem;
        height: 2.4rem;
        text-transform: capitalize;

        &:hover {
          background-color: var(--color-red);
        }
      }
    }
  }

  &-mapleleaf {
    & img {
      height: 6rem;
      width: auto;
      margin: .5rem 0 0 0;
    }
  }

  &-site-branding {
    align-content: center;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .site-logo {
      display: block;
      width: auto;
      height: auto;
      margin: 0 0 0 1rem;

      & img {
        height: 4rem;

        @container page-wrapper (min-width: 768px) {
          height: 6rem;
        }
      }
    }
  }

  &-masthead {
    text-align: center;
    display: none;

    @container page-wrapper (min-width: 768px) {
      display: block;
    }

    & p {
      color: var(--color-white);
      font-size: 0.9rem;
      font-family: var(--title-font);
      font-weight: 700;
      line-height: 1.1rem;
      margin: 0;
      text-wrap-style: balance;

        @container page-wrapper (min-width: 768px) {
          font-size: 1.5rem;
          line-height: 1.7rem;
        }
      }

      & .slogan-word {
        text-transform: uppercase;
        display: inline-block;

        &::first-letter {
          font-size: 1.2rem;

          @container page-wrapper (min-width: 768px) {
            font-size: 1.9rem;
        }
      }
    }
  }

  &-socialmedialinks {
    display: flex;
    justify-content: center;

    & ul {
      & li {
        & a {
          color: var(--color-white);
        }
      }
    }
  }

  &-location-3 {
    display: grid;
    & ~ #block-montreal2027-lafleur {
      margin: 0 0 0 1rem;
    }

    & img {
      max-height: 8rem;
      width: auto;
      margin: 0.6rem 0.6rem auto;
    }
    & h3 {
      color: var(--color-red);
      margin: .2rem 0 0 0;
    }

    & p {
      color: var(--color-white);
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }

  &-copyright-3 {
    & p {
      color: white;
      font-size: 0.7rem;
      line-height: 1rem;
      text-align: center;
      margin: 0;
    }
  }

  &-breadcrumbs {
    @include drop-shadow-slight();
    & nav {
      &.breadcrumb {
        padding: 0 0 0 2rem;
        margin: 0;
      }
    }
  }

  &-mapleleaf {
    text-align: end;
  }

  &-lefleur {
    padding: 1rem;

    &:has(~ #block-montreal2027-location-3) {
      margin: 1rem 0;

      & + img {
        transform: rotateY(180deg);
      }
    }

    & img {
      height: 7rem;
      width: auto;
    }
  }
}



