@use 'mixins' as *;

#block-montreal2027 {
  &-mainnavigation {
    padding: 0;

    @container page-wrapper (min-width: var(--bs-breakpoint-lg)) {
      background-color: var(--color-blue);
    }
  }

  &-searchform {
    grid-area: middle;
    grid-column: 2/span 2;
    justify-self: center;
    align-self: center;

    // @container page-wrapper (min-width: 768px) {
    //   grid-area: top;
    //   grid-column: 3/span 2;
    //   margin: 0 1rem 0 auto;
    // }

    // @container page-wrapper (min-width: 992px) {
    //   margin: 0 2rem;
    //   justify-self: end;
    // }


    // @container page-wrrapper (min-width: 1024px) {
    //   margin: 0 auto;
    //   grid-area: middle;
    //   grid-column: unset;
    // }

    // @container page-wrapper (min-width: 1200px) {
    //   align-content: center;
    //   grid-area: top;
    //   grid-column: 3/span 2;
    // }

    & #edit-actions {
      align-self: center;
    }

    & #edit-submit {
      border: 0;
      padding: 0.28rem .5rem;
      font-size: 0.9rem;
      color: var(--color-white);
      background-color: var(--color-black);
      margin: 0;
      border-radius: 0 6px 6px 0;
    }

    & #search-block-form {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 auto;

      & .form-type-search {
        margin: 0.25rem 0;
      }

      @container page-wrapper (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr auto;
        flex-direction: unset;
      }


      @container page-wrapper (min-width: 1200px) {
        margin: 1.2rem auto 1rem;
        width: auto;
        grid-template-columns: 2fr auto;
      }

      & input[type="search"] {
        font-size: .7rem;
        border: 0;
        width: 30dvw;
        background: var(--color-black);
        color: var(--color-white);
        padding: 0.4rem 0 .5rem .5rem;
        border-radius: 6px 0 0 6px;
        box-sizing: border-box;

        @container page-wrapper (min-width: 768px) {
          width: 45dvw;
        }

        @container page-wrapper (min-width: 1200px) {
          width: 25dvw;
        }


        &::placeholder {
          font-size: .7rem;
          color: var(--color-white);
        }

        &:focus-visible {
          box-shadow: none;
          outline: solid 2px var(--color-white);
        }

        &:focus::placeholder {
          color: transparent
        }
      }

      & input[type="submit"] {
        font-size: .7rem;
        padding: .5rem 1rem;
        border: none;
        background-color: var(--color-white);
        color: var(--color-black);
        cursor: pointer;
        border-right: 0;
        border-radius: 0;
        margin-top: 1rem;
        height: 2rem;
        text-transform: capitalize;

        &:hover {
          background-color: var(--color-red);
        }
      }
    }
  }

  &-mapleleaf {
    display: none;
    text-align: end;

    @container page-wrapper (min-width: 768px) {
      display: block;
      margin: 0 1rem;
    }

    @container page-wrapper (min-width: 992px) {
      grid-column: 3;
      grid-row: 1;
    }

    & img {
      height: 4rem;
      width: auto;
      margin: .5rem 0 0 0;

      @container page-wrapper (min-width: 992px) {
        height: 6rem;
      }
    }
  }

  &-site-branding {
    align-content: center;
    margin: 0 auto;

    @container page-wrapper (min-width: 992px) {
      margin: 0;
      grid-column: 1;
      grid-row: 1;
    }

    &>div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @container page-wrapper (min-width: 992px) {
        align-items: center;
      }
    }

    & .site-logo {
      display: block;
      width: auto;
      height: auto;
      margin: 0 0 0 1rem;

      & img {
        height: 4rem;

        @container page-wrapper (min-width: 992px) {
          height: 6rem;
        }
      }
    }
  }

  &-masthead {
    text-align: center;
    display: none;

    @container page-wrapper (min-width: 992px) {
      display: block;
      grid-column: 2;
      grid-row: 1;
    }

    @container page-wrapper (min-width: 1920px) {
      grid-column: 1/span 3;
      grid-row: 1;
    }

    & p {
      color: var(--color-white);
      font-size: 0.9rem;
      font-family: var(--title-font);
      font-weight: 700;
      line-height: 1.1rem;
      margin: 0;
      text-wrap: balance;

      @container page-wrapper (min-width: 1200px) {
        font-size: 1.5rem;
        line-height: 1.7rem;
      }
    }

    & .slogan-word {
      text-transform: uppercase;
      display: inline-block;

      &::first-letter {
        font-size: 1.2rem;

        @container page-wrapper (min-width: 1200px) {
          font-size: 1.9rem;
        }
      }
    }
  }

  &-socialmedialinks {
    display: flex;
    justify-content: center;

    & ul {
      & li {
        & a {
          color: var(--color-white);
        }
      }
    }
  }

  &-socialmedialinks-2 {
    margin: 0 1rem;

    & .social-media-links--platforms {
      &.horizontal {
        & li {
          padding: 0;

          & a {
            color: var(--color-maroon);
          }
        }
      }
    }
  }

  &-location-3 {
    grid-column: 2/span 2;
    margin: 0;
    padding: 0;
    grid-area: top;
    justify-self: center;

    & img {
      max-height: 8rem;
      width: auto;
      margin: 0.6rem 0.6rem auto;
    }

    & h3 {
      color: var(--color-red);
      font-size: 1.3rem;
      margin: .2rem 0 0 0;
    }

    & p {
      color: var(--color-white);
      font-size: .8rem;
      line-height: 1rem;
      margin: 0;

      &::first-letter {
        font-size: .8rem;
      }
    }
  }

  &-copyright-3 {
    & p {
      color: var(--color-white);
      font-size: 0.7rem;
      line-height: 1rem;
      text-align: center;
      margin: 0;
      text-wrap: balance;

      &::first-letter {
        font-size: .7rem;
      }
    }
  }

  &-breadcrumbs {
    // @include drop-shadow-slight();

    & nav {
      &.breadcrumb {
        padding: 0 0 0 2rem;
        margin: 0;
      }
    }
  }

  &-lefleur {
    padding: 1rem 1rem 0 1rem;
    grid-area: top;
    justify-self: left;
    margin: 0;
    grid-column: 4;
    opacity: 0;

    @container page-wrapper (min-width: 576px) {
      opacity: 100;
    }

    @container page-wrapper (min-width: 992px) {
      margin: 0 1rem 0 0;
      padding: .7rem 0 0 1rem;
    }

    // @container page-wrapper (min-width: 1024px) {
    //   margin: 0;
    //   grid-column: 1;
    // }

    & img {
      height: 5rem;
      width: auto;
    }
  }

  &-canadasaurusleft {
    padding: .5rem 1rem 0 0;
    grid-area: top;
    justify-self: right;
    margin: 0;
    grid-column: 4;

    @container page-wrapper (min-width: 992px) {
      margin: 0 1rem 0 0;
      padding: .7rem 1rem 0 0;
    }

    & img {
      height: 5rem;
      width: auto;
      opacity: 0;

      @container page-wrapper (min-width: 576px) {
        opacity: 100;
      }
    }
  }

  &-canadasaurusright {
    padding: .5rem 0 0 1rem;
    grid-area: top;
    justify-self: left;
    margin: 0;
    grid-column: 1;

    @container page-wrapper (min-width: 992px) {
      margin: 0 0 0 1rem;
      padding: .7rem 1rem 0 0;
    }

    & img {
      height: 5rem;
      width: auto;
      opacity: 0;

      @container page-wrapper (min-width: 576px) {
        opacity: 100;
      }
    }
  }

  &-importantpages-3 {
    grid-area: bottom;
    grid-column: 2;

    @container page-wrapper (min-width: 992px) {
      grid-area: unset;
      grid-column: unset;
    }
  }

  &-externallinks-3 {
    grid-area: bottom;
    grid-column: 3;

    @container page-wrapper (min-width: 992px) {
      grid-area: unset;
      grid-column: unset;
    }
  }
}