.grid {
    &--table {
        display: grid;
        grid-template-rows: repeat(35, 1fr);
        gap: 0px 0px;
        grid-auto-flow: column;

        @container page-wrapper (min-width: 768px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(6, auto);
            grid-auto-flow: row;
        }
    }

    &--header:not(.grid--cell-empty) {
        background: #ccc;
        border: 1px solid var(--color-black);
    }

    &--cell-border {
        border: 1px solid var(--color-black);
        border-left: none;

        @container page-wrapper (min-width: 768px) {
            border-left: 1px solid var(--color-black);
            border-top: none;
        }
    }

    &--no-top-border:not(.grid--cell-empty) {
        border-top: none;
    }

    &--header,
    &--cell-border {
        padding: 2px;
    }

    &--header:not(.always-show),
    &--cell-empty {
        @container page-wrapper (min-width: 768px) {
            display: none;
        }
    }

    &--no-left-border {
        @container page-wrapper (min-width: 768px) {
            border-left: none;
        }
    }

    &--header.always-show {
        @container page-wrapper (min-width: 768px) {
            border-top: 1px solid var(--color-black);
        }
    }

    &--header.grid--no-left-border {
        @container page-wrapper (min-width: 768px) {
            border-left: none;
        }
    }
}