.paragraph {
  &--guest-type {
    &:not(h4) {
      text-align: center;
      margin: 0 1.5rem 0 1rem;
    }
  }

  &--guest-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    @container page-wrapper (min-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    & article {
      background: var(--color-dark-blue);
      padding: .8rem;
      border-radius: .5rem;
      box-shadow: 0 2px 8px 0 var(--shadow-color, rgba(0,0,0, 0.15));

      & p {
        color: var(--color-white);

        // &::first-letter {
        //   font-size: 1.2rem;
        //   color: var(--color-white);
        // }
      }
    }
  }
}