.region {
  &-primary-menu {
    display: grid;
    background-color: var(--color-blue);
    position: sticky;
    top: var(--site-primary-menu-top);
    padding-left: 1rem;
    grid-template-columns: auto 1fr auto;
  }

  &-breadcrumb {
    height: var(--site-breadcrumb-height);
    position: sticky;
    top: var(--site-breadcrumb-top);
    z-index: 900;
    margin-left: 2rem;
  }

  &-footer-first {
    display: grid;
    grid-template-columns: 1fr 8rem 8rem 8rem;
    grid-gap: 1rem;
    background-color: var(--color-blue);

    & nav {
      line-height: 1rem;
      & h2 {
        color: var(--color-white);
        font-size: .8rem;
      }

      & a {
        color: var(--color-white);
        font-size: .8rem;
      }
    }
  }
}
