@use 'mixins' as *;

.region {
  &-primary-menu {
    display: grid;
    background-color: var(--color-blue);
    position: sticky;
    top: var(--site-primary-menu-top);
    padding: 0 0 0 1rem;
    grid-template-columns: auto 1fr auto;
  }

  &-breadcrumb {
    height: var(--site-breadcrumb-height);
    position: sticky;
    top: var(--site-breadcrumb-top);
    z-index: 900;
    margin:0;
    @include frosted-glass($border-radius: 0);
  }

  &-footer {
    &-first {
      display: grid;
      grid-template-columns: 1fr 1fr auto auto;
      grid-gap: 1rem;
      padding: 0 1rem 0 0;

      & nav {
        line-height: 1rem;

        & h2 {
          color: var(--color-white);
          font-size: .8rem;
          margin: 0 0 .2rem 0;
        }

        & a {
          color: var(--color-white);
          font-size: .8rem;
        }
      }
    }

    &-second {
      margin: 0 1rem;
    }
  }
}
