@use 'mixins' as *;

.region {
  &-primary-menu {
    display: grid;
    position: fixed;
    top: 0;
    padding: 0;
    //grid-template-rows: auto;
    width: 4rem;
    background: #adadd6;
    height: var(--site-header-height);
    z-index: 500;

    @container (min-width: 992px) {
      top: calc(var(--site-primary-menu-top) + var(--drupal-displace-offset-top, 0px));
      padding: 0 0 0 1rem;
      //grid-template-columns: auto;
      width: 100%;
      height: auto;
      background: linear-gradient(90deg, rgba(51, 51, 153, 0.19) 0%, rgba(51, 51, 153) 50%, rgb(51, 51, 153) 100%),#fff;
    }

  }

  &-breadcrumb {
    height: var(--site-breadcrumb-height);
    position: fixed;
    top: var(--site-header-height);
    z-index: 500;
    margin:0;
    @include frosted-glass($border-radius: 0);
    width: 100%;

    @container (min-width: 992px) {
      top: calc(var(--site-breadcrumb-top) + var(--drupal-displace-offset-top, 0px));
    }
  }

  &-footer {
    &-first {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 0;
      grid-template-columns: auto repeat(3, 1fr);
      grid-template-areas:
        "top top top top"
        ". middle middle ."
        "bottom bottom bottom bottom";

      & nav {
        line-height: .6rem;

        & h2 {
          color: var(--color-white);
          font-size: .8rem;
          margin: 0 0 .2rem 0;
        }

        & a {
          color: var(--color-white);
          font-size: .7rem;
        }
      }
    }

    &-second {
      margin: 0 1rem;
    }
  }
}
