@use 'mixins' as *;

.region {
  &-primary-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: auto;
    z-index: 600;

    @media (min-width: 992px) {
      top: calc(var(--site-primary-menu-top) + var(--drupal-displace-offset-top, 0px));
      padding: 0 0 0 1rem;
      width: 100%;
      height: 2rem;
      background: linear-gradient(90deg, rgba(51, 51, 153, 0.19) 0%, rgba(51, 51, 153) 50%, rgb(51, 51, 153) 100%), #fff;
      z-index: 100;
      @include drop-shadow-slight(0, 2px, 4px, 0, var(--color-black));
    }

  }

  &-breadcrumb {
    height: var(--site-breadcrumb-height);
    position: fixed;
    top: var(--site-header-height);
    z-index: 90;
    margin: 0;
    @include frosted-glass($border-radius: 0);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    @include drop-shadow-slight(0, 2px, 4px, 0, var(--color-black));

    @media (min-width: 992px) {
      top: calc(var(--site-breadcrumb-top) + var(--drupal-displace-offset-top, 0px));
    }
  }

  &-footer {
    &-first {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 0;
      grid-template-columns: auto repeat(2, 1fr) auto;
      grid-template-areas:
        "top top top top"
        ". middle middle ."
        "bottom bottom bottom bottom";

      & nav {
        & h2 {
          color: var(--color-white);
          font-size: .8rem;
          margin: 0 0 .2rem 0;
        }

        & a {
          color: var(--color-white);
          font-size: .7rem;
        }
      }
    }

    &-second {
      margin: 0 1rem;
    }
  }
}