@use 'mixins' as *;

.region {
  &-primary-menu {
    display: grid;
    background: linear-gradient(90deg, rgba(51, 51, 153, 0.19) 0%, rgba(51, 51, 153) 50%, rgb(51, 51, 153) 100%),#fff;
    //@container page-wrapper (min-width: var(--bs-breakpoint-lg) ) {
    //  background-color: var(--color-blue);
    //}
    position: fixed;
    top: calc(var(--site-primary-menu-top) + var(--drupal-displace-offset-top, 0px));
    padding: 0 0 0 1rem;
    grid-template-columns: auto;
    width: 100%;
    z-index: 500;

  }

  &-breadcrumb {
    height: var(--site-breadcrumb-height);
    position: fixed;
    top: calc(var(--site-breadcrumb-top) + var(--drupal-displace-offset-top, 0px));
    z-index: 500;
    margin:0;
    @include frosted-glass($border-radius: 0);
    width: 100%;
  }

  &-footer {
    &-first {
      display: grid;
      grid-template-columns: auto auto 1fr auto auto;
      grid-gap: 1rem;
      padding: 0 1rem 0 0;

      & nav {
        line-height: 1rem;

        & h2 {
          color: var(--color-white);
          font-size: .8rem;
          margin: 0 0 .2rem 0;
        }

        & a {
          color: var(--color-white);
          font-size: .8rem;
        }
      }
    }

    &-second {
      margin: 0 1rem;
    }
  }
}
