@use 'mixins' as *;

:root {
  --footer-fixed-breakpoint: 64rem;
  --site-header-height: 6rem;
  --site-footer-height: 13rem;
  --shadow-color: var(--color-black);
  --color-blue: oklch(0.391 0.1616 275.91);
  --color-dark-blue: oklch(0.30 0.18 275); 
  --color-white: oklch(1 0 0);
  --color-red: oklch(0.5217 0.2128 27.35);
  --color-bright-red: oklch(0.628 0.2577 29.23);
  --color-maroon: oklch(0.4346 0.1737 13.84);
  --color-black: oklch(0 0 0);
  --color-gray: oklch(0.683 0 0);
  --color-light-gray: oklch(0.8669 0 0);
  --color-medium-gray: oklch(0.7843 0 0);
  --color-dark-gray: oklch(0.6941 0 0);
  --color-slate-gray: oklch(0.5529 0.0196 257.43);
  --color-dim-gray: oklch(0.4667 0 0);
  --color-blue-bell: oklch(76% 0.096 265);
  --title-font: 'Cinzel, serif';
  --site-breadcrumb-height: 1.5rem;
  --site-primary-menu-height: 2rem;
  --site-primary-menu-top: var(--site-header-height);
  --site-breadcrumb-top: calc(var(--site-header-height) + var(--site-primary-menu-height));
  --site-main-content-top: calc(var(--site-header-height) + var(--site-primary-menu-height) + var(--site-breadcrumb-height));
  --site-main-content-height: calc(100dvh - var(--site-main-content-top) - var(--site-footer-height));
  height: 100dvh;
  height: 100vh;
  margin: 0;
  min-height: 100dvh;

  @container (min-width: 992px) {
    --site-primary-menu-height: 2rem;
  }
}

body {
  background-attachment: fixed;
  /* keeps image static */
  background-image: url('/assets/2025-11/53876623114_a7f20e1dbb_o.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* fills the page */
  color: var(--color-black);
  @include noto-serif-font();
}

body,
p {
  font-size: clamp(.75rem, 1vw, 1rem);
}

p::first-letter {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  @include noto-serif-font(700);
}

h1 {
  font-size: clamp(1.2rem, 2.5vw, 2.5rem);

  &.paragraph--guest-type {
    padding-top: 1rem;
  }
}

h2 {
  font-size: clamp(1rem, 2vw, 2rem);

  &.paragraph--guest-type {
    padding-bottom: 1rem;
  }

  &.bottom--margin-small {
    margin-bottom: .25rem;
  }
}

h3 {
  font-size: clamp(.9rem, 1.5vw, 1.5rem);
}

h4 {
  font-size: clamp(.8rem, 1.25vw, 1.25rem);
}

h5 {
  font-size: clamp(.7rem, 1vw, 1rem);
}

h6 {
  font-size: clamp(.6rem, .75vw, .75rem);
}

p {
  color: var(--color-black);
}

a {
  color: var(--color-blue)
}