:root {
  --footer-fixed-breakpoint: 64rem;
  --site-header-height: 7rem;
  --site-breadcrumb-height: 2.5rem;
  --site-breadcrumb-top: calc(var(--site-header-height) + var(--site-primary-menu-height));
  --site-primary-menu-height: 4rem;
  --site-primary-menu-top: var(--site-header-height);
  --site-main-content-top: calc(var(--site-header-height) + var(--site-primary-menu-height) + var(--site-breadcrumb-height));
  --site-main-content-height: calc(100dvh - var(--site-main-content-top) - var(--site-footer-height) - 1rem);
  --site-footer-height: 13rem;
  --color-blue: #33339b;
  --color-dark-blue: #161a37;
  --color-white: #ffffff;
  --color-red: #c70012;
  --color-black: #000000;
  --title-font: 'Cinzel, serif';
  height: 100vh;
  height: 100dvh;
}
