@use 'mixins' as *;

:root {
  --footer-fixed-breakpoint: 64rem;
  --site-header-height: 6rem;
  --site-footer-height: 13rem;
  --shadow-color: var(--color-black);
  --color-blue: oklch(0.391 0.1616 275.91);
  --color-dark-blue: oklch(0.30 0.18 275);
  --color-white: oklch(1 0 0);
  --color-red: oklch(0.5217 0.2128 27.35);
  --color-bright-red: oklch(0.628 0.2577 29.23);
  --color-maroon: oklch(0.4346 0.1737 13.84);
  --color-black: oklch(0 0 0);
  --color-gray: oklch(0.683 0 0);
  --color-light-gray: oklch(0.8669 0 0);
  --color-medium-gray: oklch(0.7843 0 0);
  --color-dark-gray: oklch(0.6941 0 0);
  --color-slate-gray: oklch(0.5529 0.0196 257.43);
  --color-dim-gray: oklch(0.4667 0 0);
  --color-blue-bell: oklch(76% 0.096 265);
  --title-font: 'Cinzel, serif';
  --site-breadcrumb-height: 1.5rem;
  --site-primary-menu-height: 2rem;
  --site-primary-menu-top: var(--site-header-height);
  --site-breadcrumb-top: calc(var(--site-header-height) + var(--site-primary-menu-height));
  --site-main-content-top: calc(var(--site-header-height) + var(--site-primary-menu-height) + var(--site-breadcrumb-height));
  --site-main-content-height: calc(100dvh - var(--site-main-content-top) - var(--site-footer-height));
  height: 100dvh;
  height: 100vh;
  margin: 0;
  min-height: 100dvh;

  @media (min-width: 992px) {
    --site-primary-menu-height: 2rem;
  }
}

body {
  background-attachment: fixed;
  /* keeps image static */
  background-image: url('/assets/2025-11/53876623114_a7f20e1dbb_o.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* fills the page */
  color: var(--color-black);
  @include noto-serif-font();
}

body,
p {
  font-size: calc(0.536rem + 0.595vw);
  font-size: clamp(0.75rem, calc(0.536rem + 0.595vw), 1.25rem);
  line-height: calc(0.893rem + 0.298vw);
  line-height: clamp(1.00rem, calc(0.893rem + 0.298vw), 1.25rem);
}

p::first-letter {
  font-size: calc(0.786rem + 0.595vw);
  font-size: clamp(1.00rem, calc(0.786rem + 0.595vw), 1.50rem);
  line-height: calc(1.036rem + 0.595vw);
  line-height: clamp(1.25rem, calc(1.036rem + 0.595vw), 1.75rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  @include noto-serif-font(700);
}

h1 {
  font-size: calc(2.036rem + 0.595vw);
  font-size: clamp(2.25rem, calc(2.036rem + 0.595vw), 2.75rem);

  &.paragraph--guest-type {
    padding-top: 1rem;
  }
}

h2 {
  font-size: calc(1.7857rem + 0.5952vw);
  font-size: clamp(2rem, 1.7857rem + 0.5952vw, 2.5rem);

  &.paragraph--guest-type {
    padding-bottom: 1rem;
  }

  &.bottom--margin-small {
    margin-bottom: .25rem;
  }
}

h3 {
  font-size: calc(1.536rem + 0.595vw);
  font-size: clamp(1.75rem, calc(1.536rem + 0.595vw), 2.25rem);
}

h4 {
  font-size: calc(1.286rem + 0.595vw);
  font-size: clamp(1.50rem, calc(1.286rem + 0.595vw), 2.00rem);
}

h5 {
  font-size: calc(1.036rem + 0.595vw);
  font-size: clamp(1.25rem, calc(1.036rem + 0.595vw), 1.75rem);
}

h6 {
  font-size: calc(0.786rem + 0.595vw);
  font-size: clamp(1.00rem, calc(0.786rem + 0.595vw), 1.50rem);
}

p {
  color: var(--color-black);
}

a {
  color: var(--color-blue)
}