@use 'mixins' as *;

:root {
  --footer-fixed-breakpoint: 64rem;
  --site-header-height: 6rem;
  --site-footer-height: 13rem;
  --shadow-color: var(--color-black);
  --color-blue: #333399;
  --color-dark-blue: #161a37;
  --color-white: #ffffff;
  --color-red: #c70012;
  --color-maroon: #990033;
  --color-black: #000000;
  --color-light-gray: #d3d3d3;
  --color-medium-gray: #c0c0c0;
  --color-dark-gray: #a9a9a9;
  --color-slate-gray: #708090;
  --color-dim-gray: #696969;
  --title-font: 'Cinzel, serif';
  --site-breadcrumb-height: 1.5rem;
  --site-primary-menu-height: 2rem;
  --site-primary-menu-top: var(--site-header-height);
  --site-breadcrumb-top: calc(var(--site-header-height) + var(--site-primary-menu-height));
  --site-main-content-top: calc(var(--site-header-height) + var(--site-primary-menu-height) + var(--site-breadcrumb-height));
  --site-main-content-height: calc(100dvh - var(--site-main-content-top) - var(--site-footer-height));
  height: 100dvh;
  height: 100vh;
  margin: 0;
  min-height: 100dvh;

  @container (min-width: 992px) {
    --site-primary-menu-height: 2rem;
  }
}

body {
  background-attachment: fixed;
  /* keeps image static */
  background-image: url('/assets/2025-11/53876623114_a7f20e1dbb_o.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* fills the page */
  color: var(--color-black);
  @include noto-serif-font();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  @include noto-serif-font(700);
}

h1 {
  font-size: clamp(1.2rem, 2vw , 2rem);

  &.paragraph--guest-type {
    padding-top: 1rem;
  }
}

h2 {
  font-size: clamp(.75rem, 1.5vw, 1.75rem);

  &.paragraph--guest-type {
    padding-bottom: 1rem;
  }

  &.bottom--margin-small {
    margin-bottom: .25rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  color: var(--color-black);
}