#block-montreal2027-content {
    & h1.staff {
        text-align: center;
    }

    & .division {
        background-color: floralwhite;
        padding: 1rem;
        font-size: calc(1.650rem + 0.500vw);
        font-size: clamp(1.75rem, calc(1.650rem + 0.500vw), 2.25rem);
    }

    & .staff-row {
        display: grid;
        grid-template-columns: 70% 20% 1fr;
        gap: .5rem;
        padding: .25rem 0;

        & a {
            & button {
                border-radius: 1rem;
                padding: 0 .5rem .25rem;
            }
        }

        &.indent-1 div:first-child {
            padding: 0 0 0 1rem;
        }

        &.indent-2 div:first-child {
            padding: 0 0 0 2rem;
        }

        &.indent-3 div:first-child {
            padding: 0 0 0 3rem;
        }

        &.indent-4 div:first-child {
            padding: 0 0 0 4rem;
        }
    }
}