@use 'mixins' as *;

.view {
  &-id-guest_list {
    .views {
      &-view-responsive {
        &-grid {
          &__item {
            background: var(--color-dark-blue);
            padding: .8rem;
            border-radius: .5rem;
            @include drop-shadow-slight();

            & p {
              color: var(--color-white);

              // &::first-letter {
              //   font-size: 1.2rem;
              //   color: var(--color-white);
              // }
            }

            img {
              border-radius: 50%;
              width: auto;
              max-height: 10rem;
            }
          }
          &--horizontal {
            border: 0;
          }
        }
      }
    }
  }
}


