.m2027-gradient {
  background: #FFFFFF;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(194, 129, 125, 1) 50%, rgba(153, 28, 55, 1) 100%);
}

.m2027-gradient--radial {
  background: #FFF;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 176, 1) 5%, rgba(239, 135, 107, 1) 16%);
}

#page-wrapper {
  & #header {
    background: RGBA(237, 28, 36, 0.1);
    background: linear-gradient(90deg, rgba(237, 28, 36, 0.19) 0%, rgba(237, 28, 36, 0.91) 50%, rgba(153, 0, 51, 1) 100%);
    width: 100dvw;
  }
}

header[role="banner"] {
  & .container {
    max-width: unset;
    padding-left: 0;
  }
}

#block-montreal2027-site-branding {
  & .site-logo {
    display: block;
    width: auto;
    height: auto;

    & img {
      height: 6rem;
    }
  }
}
